<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{12} - %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <logger name="com.nazobenkyo.petvaccine" level="${SERVICE_LOG:TRACE}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework" level="${SERVICE_LOG:TRACE}" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>